# ─── MySQL ───────────────────────────────────────────────
MYSQL_ROOT_PASSWORD=rootpassword123
MYSQL_USER=retail_user
MYSQL_PASSWORD=retail_pass123

# OLTP source
OLTP_HOST=localhost
OLTP_PORT=3306
OLTP_DB=retail_oltp

# Data Warehouse
DWH_HOST=localhost
DWH_PORT=3307
DWH_DB=retail_dwh